@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin:0;
    font-family: "Montserrat","sans-serif";
}
.primary{
    background-color: #161c51 !important;
    padding: 5px 20px !important;
    color: white;
    border: none !important;;
}
